body {
    padding: 0px;
    background-color: #fcfcfc;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

#myCarousel {
    --f-carousel-spacing: 20px;
    --f-carousel-slide-width: 14%;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1600px;
    height: fit-content;
    margin: 0 auto;
    padding: 0px 70px;
}

.search-row {
    text-align: center;
}

.banner {
    padding: 100px 0px;
    background-image: url(../images/banner.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner .container {
    padding-right: 0px;
}

.banner .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cuisines-title {
    margin: 70px 0px 50px;
    text-align: center;
}

.banner .container {
    padding-right: 0px;
}

.cuisines-title span {
    color: #707070;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 12px;
    line-height: 1;
}

.cuisines-title h2 {
    font-size: 34px;
    line-height: 1.235294117647059;
    color: #4a4a4a;
}

.cuisines {
    position: relative;
    border-radius: 1000px;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
}

.cuisines.active {
    background-color: #3a9691;
    animation: 800ms onboardingPulse ease forwards;
}

@keyframes onboardingPulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(0.975);
    }

    100% {
        transform: scale(1);
    }
}

.cuisines img {
    transition: opacity 400ms ease;
}

.cuisines.active img {
    opacity: 0;
}

.banner-content .swiper {
    overflow-y: auto;
    overflow-x: clip;
}

.cuisines span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: fit-content;
    transform: translate(-50%, -50%);
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}


.search-row input {
    padding: 20px 30px;
    border-radius: 1000px;
    display: inline-block;
    width: 600px;
    font-size: 16px;
    line-height: 18px;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;
}

.cta-btns {
    margin-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.cta-btns button {
    box-shadow: 0 0 0 2px #3a9691;
    background-color: #3a9691;
    color: #fff;
    padding: 10px 40px;
    border-radius: 1000px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.cta-btns button:first-child {
    background-color: transparent;
    color: #3a9691;
}

.title h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.recipes-card {
    padding: 0px 0px 100px;
    position: relative;
    padding-bottom: 100px;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}


.card-recepie {
    position: relative;
}

.card-img img {
    /* border-radius: 7px; */
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    margin-top: 10px;
}

.card-content h4 {
    font-size: 26px;
    font-weight: 700;
    color: #222222;
}

.card-content span {
    font-size: 16px;
    font-weight: 500;
    color: #afafaf;
}


.card-recepie button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 1000pc;
    background: #f52525;
    cursor: pointer;
}

.card-recepie button img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.cuisines-recepie {
    position: relative;
}

.cuisines-recepie button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 1000pc;
    background: #f52525;
    cursor: pointer;
}

.cuisines-recepie button img {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

.cuisines-img a {
    display: inline-block;
}

.cuisines-img a img {
    border-radius: 6px;
}

.cuisines-content h4 {
    color: #000;
    font-size: 15px;
    margin-top: 10px;
    max-width: 190px;
    font-weight: 600;
}


.site-cuisines,
.cuisines-recipe {
    position: relative;
}

.cuisines-button-next,
.cuisinesRecipe-button-next,
.cuisines-button-prev,
.cuisinesRecipe-button-prev {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 1000px;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 1;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.05) inset;
}

.cuisinesRecipe-button-next,
.cuisines-button-next {
    right: 30px;
}

.cuisines-button-next img,
.cuisinesRecipe-button-next img,
.cuisines-button-prev img,
.cuisinesRecipe-button-prev img {
    width: 15px;
    height: 15px;
}

.cuisines-button-prev img,
.cuisinesRecipe-button-prev img {
    transform: rotate(180deg);
}

.cuisines-recipe:has(.swiper-wrapper:empty) :is(.cuisinesRecipe-button-next, .cuisinesRecipe-button-prev) {
    display: none;
}

/* loader Start */

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);

    }
}

/* loader End */

/* Sinlge Recipe page Start */

.single-recipe-banner {
    padding: 120px 0px;
}

.single-banner-row {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 0px 100px;
    align-items: center;
    border-bottom: solid 1px #e3e3e3;
}

.single-col h1 {
    font-size: 40px;

}

.single-image {
    border-radius: 15px;
    overflow: hidden;
}


.single-image img {
    width: 100%;
    aspect-ratio: 1/.8;
    object-fit: cover;
    display: block;
}

/* Sinlge Recipe page End */

.single-col>span {
    margin: 10px 0px;
    display: inline-block;
    font-weight: 700;
    color: #bababa;
    font-size: 12px;
}

.single-recipe-count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}